/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */
/* font-family: 'Roboto', sans-serif; */
/* padding và margin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

img{
    max-width: 100%;
}

.card {
    background-color: #fff;
    margin-bottom: 30px;
    height: 370px;
}

.image {
    height: 220px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    padding: 15px;
}

.content h3 {
    color: #464646;
    font-size: 19px;
    font-weight: 400;
}

.content p{
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}

.content p span{
    color: #ffd600;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    margin: auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#course .col{
    flex-basis: 25%;
    padding: 20px 15px;
}

a.link{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #d4dce6;
  }
  
.footer {
    background-color: #30598c;
    color:#d4dce6;
}

.footer .col{
    flex-basis: 25%;
    padding: 20px 15px;
    margin: 20px 0 80px;
}

.footer h3,a,div{
    margin: 20px 0 20px;
}

ul {
    list-style-type: none;
}

.header{
    height: 60px;
    background-color: #30598c;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.sidebar{
    display: flex;
    align-items: center;
}

.menu > ul{
    display: flex;
}

.menu-item{
    color: #fff;
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item span{
    margin-left: 5px;
}

.sub-menu{
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    box-shadow: 0 0px 10px 0 rgb(0 0 0 / 15%);
    display: none;
    flex-direction: column;
}

.menu-item:hover .sub-menu{
    display: flex
}

.sub-menu-item{
    font-size: 16px;
    text-align: center;
    padding: 16px;
    color: #464646;
    text-transform: none;
    cursor: pointer;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}

.cart {
    position: relative;
    margin-right: 23px;
}

.cart-icon{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.cart .cart-count{
    position: absolute;
    color: #fff;
    background-color: #26a69a;
    font-weight: 400;
    left: 20px;
    bottom: 18px;
    width: 20px;
    text-align: center;
    border-radius: 5px;
}

.avatar img {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}