*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url(./img1.jpg) no-repeat center ;
    background-size: cover;
    position: relative;
}
.snow , .snow2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./snow.png);
    background-position: 0 0;
}

.snow
{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}

.snow2
{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5;
}

.text
{
    width: 500px;
    background-color: #fff;
}

@keyframes snowfall
{
    100%{
        background-position: 70em 70em;
    }
}

@keyframes snowfall2
{
    100%{
        background-position: 50em 0;
    }
}